<h2>Edit recipe</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_recipe_path(@conn, :update, @user, @recipe) %>

<%= link "Back", to: user_recipe_path(@conn, @user, :index) %>
