<h2>New recipe</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_recipe_path(@conn, :create, @user) %>

<%= link "Back", to: user_recipe_path(@conn, :index, @user) %>
